body {
    background-color: #FFFFFF;
    letter-spacing: 0.03em;
}


/* Portfolio page */

.portfolio .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.06em;
}

.text-title {
    color: var(--primery-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    
}

.portfolio .text {
    background-color: var(--accent-text-color);
    color: var(--primery-white-color);

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56
    
}

.portfolio-button {
    color: var(--button-text-color);
    background-color: var(--background-button-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

}

.portfolio-button:hover,
.portfolio-button:focus {
    color: var(--primery-white-color);
    background-color: var(--accent-text-color);
}