:root{
    --primery-text-color: #757575;
    --title-text-color: #212121;
    --accent-text-color: #2196F3;
    --primery-white-color: #FFFFFF;
    --icon-color: #AFB1B8;
    --address-link-color: rgba(117, 117, 117, 1);
    --footer-address-link-color: rgba(255, 255, 255, 0.6);
    --logo-color: #000000;
    --background-button-color: rgba(245, 244, 250, 1);
    --button-text-color: rgba(33, 33, 33, 1);



}

body {
    background-color: #FFFFFF;
    color: var(--primery-text-color);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

.list {
    list-style-type: none;
}

a:link {
    text-decoration: none;
}

/* Logo */

.logo {
      color: var(--logo-color);

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    
    
}

.accent {
    color: var(--accent-text-color);
}

.footer .logo {
    color: var(--primery-white-color);
}

/* Site nav */

.site-nav .link {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-text-color);
}

.site-nav .link.current{
    color: var(--accent-text-color);
}

/* Address link */

.address .link  {
    color: var(--address-link-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.address .link:hover {
    color: var(--accent-text-color);
}

/* Hero 
удалить backround color*/


.hero-title {
    color: var(--primery-white-color);
    background-color: black;

    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* Button */

.hero .button {
    color: var(--primery-white-color);
    background-color: var(--accent-text-color);
    
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
        
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

/* Section */

.section-contact {
    background-color: rgba(245, 244, 250, 1);
}

.section.list .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    
}

.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    
}

.contact-title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
        
}

.contact .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    
    
}

/* Icon */

.icon {
    color: var(--icon-color);
}

.icon:hover {
    color: var(--accent-text-color)
}

/* Footer */

.footer {
    background-color: rgba(47, 48, 58, 1);
}

.footer .address {
    color: var(--primery-white-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    
}

.address-list .link {
    color: var(--footer-address-link-color);
}

.footer .text {
    color: var(--primery-white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
